/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/* Start setting */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F9F9F9;
    z-index: 1;
    height: 140px;
}

#logo {
    width: 80px;
    height: 80px;
    margin: 30px;
}

#user {
    width: 35px;
    height: 35px;
    position: fixed;
    right: 40px;
    top: 50px;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    height: 100%;
    background-color: #F9F9F9;
    padding: 15px;
}

.sidebar-select {
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    width: 150px;
    border-radius: 5px;
    padding: 25px 0;
}

.sidebar-link a {
    margin: 50px 0;
}

.sidebar-link p {
    text-align: center;
    font-family: "Baloo Chettan 2";
    font-size: 18pt;
    font-weight: bold;
    color: #4C4C4C;
    margin-top: 10px;
}

#test {
    width: 35px;
    height: 35px;
    margin: auto;
    display: block;
}

#history {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
}

#auto-test {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
}

#my-test-case {
    width: 35px;
    height: 35px;
    margin: auto;
    display: block;
}

#monitor {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
}

#collections {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
}

.nav {
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
}

.nav h1 {
    font-family: "Baloo Chettan 2";
    font-weight: bold;
    font-size: 40pt;
    color: #4C4C4C;
}

.content-wrapper {
    display: flex;
    margin-top: 140px;
    height: calc(100% - 140px);
}

.sidebar-link {
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.active {
    background-color: #ebebeb;
    width: 150px;
    border-radius: 5px;
}

#container {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 100px auto 100px 180px;
    width: calc(100% - 180px);
}

#title {
    font-family: "Baloo Chettan 2";
    font-weight: bold;
    font-size: 30pt;
    color: #4C4C4C;
}

.content {
    grid-column: 1;
    flex: 1;
}

/*body {*/
/*    font-family: "lato", sans-serif;*/
/*}*/
/*.collection-container {*/
/*    max-width: 1000px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*}*/

/*.api-table {*/
/*    li {*/
/*        border-radius: 3px;*/
/*        padding: 25px 30px;*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*        margin-bottom: 25px;*/
/*    }*/
/*    .api-table-header {*/
/*        background-color: #ddd;*/
/*        font-size: 14px;*/
/*        text-transform: uppercase;*/
/*        letter-spacing: 0.03em;*/
/*    }*/
/*    .api-table-row {*/
/*        font-family: "Baloo Chettan 2";*/
/*        background-color: #ffffff;*/
/*        font-size: 18px;*/
/*        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);*/
/*    }*/
/*    .col-1 {*/
/*        flex-basis: 10%;*/
/*    }*/
/*    .col-2 {*/
/*        flex-basis: 15%;*/
/*    }*/
/*    .col-3 {*/
/*        flex-basis: 60%;*/
/*    }*/
/*    .col-4 {*/
/*        flex-basis: 15%;*/
/*    }*/

/*    .col-1, .col-2, .col-3 {*/
/*        border-right: 2px solid #ccc;*/
/*    }*/

/*    .col-1, .col-2, .col-3, .col-4 {*/
/*        padding-left: 50px;*/
/*    }*/

/*    @media all and (max-width: 767px) {*/
/*        .api-table-header {*/
/*            display: none;*/
/*        }*/
/*        .api-table-row {*/
/*        }*/
/*        li {*/
/*            display: block;*/
/*        }*/
/*        .col {*/
/*            flex-basis: 100%;*/
/*        }*/
/*        .col {*/
/*            display: flex;*/
/*            padding: 10px 0;*/
/*            &:before {*/
/*                color: #6c7a89;*/
/*                padding-right: 10px;*/
/*                content: attr(data-label);*/
/*                flex-basis: 50%;*/
/*                text-align: right;*/
/*            }*/
/*        }*/
/*    }*/
/*}*/

/*.btn {*/
/*    background-color: #ffffff;*/
/*    border: none;*/
/*    padding: 8px 16px;*/
/*    border-radius: 4px;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*}*/

.btn:hover {
    opacity: 0.6;
    cursor: pointer;
    transform: scale(1.1);
}

/*.api-table-row:hover {*/
/*    background-color: #F9F9F9;*/
/*}*/

/*.api-table-row:hover .btn {*/
/*    background-color: #F9F9F9;*/
/*}*/

/*#api-list {*/
/*    font-family: "Baloo Chettan 2";*/
/*}*/

/*.tableHeader {*/
/*    font-family: "Baloo Chettan 2";*/
/*    font-weight: bold;*/
/*    font-size: 25px;*/
/*    vertical-align: top;*/
/*}*/

/*.api-table-row .col {*/
/*    vertical-align: top;*/
/*}*/

/*.buttonDiv {*/
/*    display: block;*/
/*}*/

/*#button-div {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    gap: 20px;*/
/*}*/

/*#add-button {*/
/*    flex: 0 0 auto;*/
/*    font-weight: bold;*/
/*    font-size: 25px;*/
/*}*/

/*#run-all-button {*/
/*    background-image: url('test-all.png');*/
/*    background-size: 30px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: calc(100% - 10px) center;*/
/*    padding-right: 50px;*/
/*    flex: 0 0 auto;*/
/*    font-weight: bold;*/
/*    font-size: 25px;*/
/*}*/

/*select,*/
/*input {*/
/*    padding: 5px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*    background-color: #F9F9F9;*/
/*    font-size: 16px;*/
/*    font-family: "Baloo Chettan 2";*/
/*}*/

/*input[type="text"]::placeholder {*/
/*    font-size: 14px;*/
/*    color: #999;*/
/*    padding-left: 5px;*/
/*    font-family: "Baloo Chettan 2";*/
/*}*/

/*input[type="submit"]:hover {*/
/*    background-color: #ddd;*/
/*}*/

/*input[type="button"]:hover {*/
/*    background-color: #ddd;*/
/*}*/

/*input[type="submit"] {*/
/*    font-family: "Baloo Chettan 2";*/
/*}*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    z-index: 3;
}

.table {
    width: 70%;
    color: #4C4C4C;
    border-collapse: collapse;
    margin-top: 10px;
    word-wrap: break-word;
}

.table thead th {
    font-family: "Baloo Chettan 2";
    font-size: 16pt;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.table tbody td {
    font-family: "Baloo Chettan 2";
    font-size: 14pt;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table tbody td.col-3 {
    text-align: left;
    padding-left: 20px;
}

table tbody td.col-4 {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.table tbody .btn {
    padding: 6px 12px;
    cursor: pointer;
    display: block;
    width: auto;
    height: auto;
    border-radius: 5px;
    font-size: 12pt;
    font-family: "Baloo Chettan 2";
}

.btn-test {
    background-color: #179c5e;
    color: #ffffff;
    border: 1px solid;
}

.btn-add {
    background-color: #f8f9fa;
    border: 1px solid #dddddd;
}

.collection-list-container {
    width: 300px;
    height: 500px;
}

select,
input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F9F9F9;
    font-size: 18px;
    font-family: "Baloo Chettan 2";
}

input[type="text"]::placeholder {
    font-size: 16px;
    color: #999;
    padding-left: 5px;
    font-family: "Baloo Chettan 2";
}

input[type="submit"]:hover {
    background-color: #ddd;
}

input[type="button"]:hover {
    background-color: #ddd;
}

input[type="submit"] {
    font-family: "Baloo Chettan 2";
}

.table tbody tr:hover {
    background-color: #f5f5f5;
}

/*.table tbody .btn {*/
/*    padding: 6px 12px;*/
/*    !*border: none;*!*/
/*    cursor: pointer;*/
/*    !*background-color: #f8f9fa;*!*/
/*    background-color: #179c5e;*/
/*    border: 1px solid #dddddd;*/
/*    !*color: #4C4C4C;*!*/
/*    color: #ffffff;*/
/*    display: block;*/
/*    width: auto;*/
/*    height: auto;*/
/*    border-radius: 5px;*/
/*}*/

/*.btn {*/
/*    background-color: #f8f9fa;*/
/*    border: 2px solid #4C4C4C;*/
/*    color: #4C4C4C;*/
/*    display: block;*/
/*    width: auto;*/
/*    height: auto;*/
/*}*/

/*.btn {*/
/*    display: inline-block;*/
/*    font-weight: 400;*/
/*    color: #212529;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*    background-color: transparent;*/
/*    border: 1px solid transparent;*/
/*    padding: .375rem .75rem;*/
/*    font-size: 1rem;*/
/*    line-height: 1.5;*/
/*    border-radius: .25rem;*/
/*    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/
/*}*/

/*.method {*/
/*    display: inline-block;*/
/*    padding: .25em .4em;*/
/*    font-size: 75%;*/
/*    font-weight: 700;*/
/*    line-height: 1;*/
/*    text-align: center;*/
/*    white-space: nowrap;*/
/*    vertical-align: baseline;*/
/*    border-radius: .25rem;*/
/*    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/
/*}*/

/*.get {*/
/*    background-color: #28a745 !important;*/
/*    color: #ffffff !important;*/
/*}*/

/*.post {*/
/*    background-color: #FED049 !important;*/
/*    color: #4C4C4C !important;*/
/*}*/

/*.put {*/
/*    background-color: #007bff !important;*/
/*    color: #ffffff !important;*/
/*}*/

/*.delete {*/
/*    background-color: #D04848 !important;*/
/*    color: #ffffff !important;*/
/*}*/

/*.head {*/
/*    background-color: #948979 !important;*/
/*    color: #ffffff !important;*/
/*}*/

/*.patch {*/
/*    background-color: #FF9800 !important;*/
/*    color: #4C4C4C !important;*/
/*}*/

/*.options {*/
/*    background-color: #153448 !important;*/
/*    color: #ffffff !important;*/
/*}*/
