header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 1000;
    height: 150px;
}

#logo {
    width: 80px;
    height: 80px;
    margin: 20px;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 130px;
    align-items: center;
    height: calc(100vh - 150px);
    background-color: #f9f9f9;
}

.sidebar-link a {
    margin: 50px 0;
}

.sidebar-link p {
    text-align: center;
}

#test {
    width: 35px;
    height: 35px;
    margin: 20px;
}

#auto-test {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
}

.nav {
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

.nav h1 {
    font-family: "Baloo Chettan 2";
    font-size: 40pt;
    color: #4C4C4C;
}

.content-wrapper {
    display: flex;
    margin-top: 150px;
}

.sidebar-link {
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 100px;
    padding: 50px;
}

.content {
    grid-column: 1;
}
