<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>API Blitz</title>
    <link href="APITest.css" rel="stylesheet">
    <link href="favicon.ico" rel="favicon">

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.1/beautify.min.js"></script>
</head>

<body>

<header>

    <div class="nav">
        <a href="APITest">
            <img alt="Logo" id="logo" src="logo.png">
        </a>
        <h1>API Blitz</h1>

        <a href="/signUpIn">
            <img alt="user" id="user" src="user.png">
        </a>
    </div>

</header>

<div class="content-wrapper">

    <div class="sidebar">

        <br>
        <a class="sidebar-link" href="/APITest">
            <img alt="test" id="test" src="test.png">
            <p>API Test</p>
        </a>

        <br>
        <a class="sidebar-link" href="/history">
            <img alt="test" id="history" src="history.png">
            <p>History</p>
        </a>

        <br>
        <a class="sidebar-link" href="/collections">
            <img alt="test" id="collections" src="/collections.png">
            <p>Collections</p>
        </a>

        <br>
        <a class="sidebar-link" href="/monitor">
            <img alt="test" id="my-test-case" src="monitor.png">
            <p>Monitor</p>
        </a>

        <br>
        <a class="sidebar-link" href="/report">
            <img alt="test" id="monitor" src="report.png">
            <p>Report</p>
        </a>

    </div>

    <div id="container">

        <div class="content">

            <h3>API Data</h3><br><br><br>

            <div id="api-history-list" style="display: none"></div>

            <form action="/api/1.0/APITest" id="api-form" method="post">

                <label for="method"></label>
                <select id="method" name="method">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                    <option value="HEAD">HEAD</option>
                    <option value="PATCH">PATCH</option>
                    <option value="OPTIONS">OPTIONS</option>
                </select>

                <label for="url"></label>
                <input id="url" name="url" placeholder="Enter URL or paste text" required style="width: 510px;"
                       type="text">

                <input class="btn" type="submit" value="Send">
                <br><br><br>

                <div id="queryParams">
                    <label for="queryParams">Query Params</label><br>
                    <input class="dynamic-input paramsKey" id="paramsKey" name="paramsKey"
                           oninput="addQueryParamsInput(event)" placeholder="Key"
                           style="margin-top: 10px; margin-top: 10px" type="text">
                    <input class="dynamic-input paramsValue" id="paramsValue" name="paramsValue"
                           oninput="addQueryParamsInput(event)"
                           placeholder="Value" style="margin-top: 10px; margin-top: 10px"
                           type="text">
                </div>
                <br><br>

                <div id="authorization">
                    <label for="authorization">Authorization</label><br>
                    <select id="authorizationKey" name="authorizationKey" style="margin-top: 10px">
                        <option value="No Auth">No Auth</option>
                        <option value="Basic Auth">Basic Auth</option>
                        <option value="Bearer Token">Bearer Token</option>
                        <option value="JWT Bearer">JWT Bearer</option>
                        <option value="Digest Auth">Digest Auth</option>
                        <option value="OAuth 1.0">OAuth 1.0</option>
                        <option value="OAuth 2.0">OAuth 2.0</option>
                        <option value="Hawk Authentication">Hawk Authentication</option>
                        <option value="AWS Signature">AWS Signature</option>
                        <option value="NTLM Authentication [Beta]">NTLM Authentication [Beta]</option>
                        <option value="API Key">API Key</option>
                        <option value="Akamai EdgeGrid">Akamai EdgeGrid</option>
                        <option value="ASAP (Atlassian)">ASAP (Atlassian)</option>
                        <option value="Inherit auth from parent">Inherit auth from parent</option>
                    </select>
                    <!--                            <input id="authorizationKey" type="text" name="authorizationKey" placeholder="Key">-->
                    <input id="authorizationValue" name="authorizationValue" placeholder="Value" type="text">
                    <br>
                </div>
                <br><br>

                <div id="headers">
                    <label for="headers">Headers</label><br>
                    <input class="headers-input headersKey" id="headersKey" name="headersKey"
                           oninput="addHeadersInput(event)"
                           placeholder="Key" style="margin-top: 10px" type="text">
                    <input class="headers-input headersValue" id="headersValue" name="headersValue"
                           oninput="addHeadersInput(event)"
                           placeholder="Value" style="margin-top: 10px" type="text">
                </div>
                <br><br>

                <label for="body">Body</label><br>
                <textarea cols="76" id="body" name="body" placeholder="Body" rows="10"></textarea>

            </form>
            <br><br>

        </div>

        <div id="response-container">

            <h3>Response</h3><br><br><br>

            <div id="loading" style="display: none">
                <img alt="loading" src="/loading.gif">
            </div>

            <div id="status-code" style="font-weight: bold"></div>
            <br>
            <div id="response-time" style="font-weight: bold"></div>
            <br>
            <div id="response-size" style="font-weight: bold"></div>
            <br>
            <div class="tab-container">
                <button class="tablinks" id="show-response-body" onclick="displayResponse()"
                        style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">Body
                </button>
                <button class="tablinks" id="show-response-header" onclick="displayHeaders()"
                        style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">
                    Headers
                </button>
            </div>
            <br>

            <div id="response"></div>

        </div>

    </div>

</div>

<script src="APITest.js"></script>

</body>

</html>
