<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>API Blitz</title>
    <link href="/collections.css" rel="stylesheet">
    <link href="/favicon.ico" rel="favicon">
</head>

<body>

<header>

    <div class="nav">
        <a href="/APITest">
            <img alt="Logo" id="logo" src="/logo.png">
        </a>
        <h1>API Blitz</h1>

        <a href="/signUpIn">
            <img alt="user" id="user" src="/user.png">
        </a>
    </div>

</header>

<div class="content-wrapper">

    <div class="sidebar">

        <br>
        <a class="sidebar-link" href="/APITest">
            <img alt="test" id="test" src="/test.png">
            <p>API Test</p>
        </a>

        <br>
        <a class="sidebar-link" href="/history">
            <img alt="test" id="history" src="/history.png">
            <p>History</p>
        </a>

        <br>
        <a class="sidebar-link" href="/collections">
            <img alt="test" id="collections" src="/collections.png">
            <p>Collections</p>
        </a>

        <br>
        <a class="sidebar-link" href="/monitor">
            <img alt="test" id="my-test-case" src="/monitor.png">
            <p>Monitor</p>
        </a>

        <br>
        <a class="sidebar-link" href="/report">
            <img alt="test" id="monitor" src="/report.png">
            <p>Report</p>
        </a>

    </div>

    <div id="container">

        <div class="collection-container" id="collection-container"></div>

        <div class="overlay" id="overlay"></div>

        <div class="edit-container popup" id="edit-container" style="display: none">

            <form id="collection-form" method="post">

                <label for="collectionName">Collection Name</label><br>
                <input id="collectionName" name="collectionName" placeholder="Collection Name" required
                       style="margin-top: 10px; width: 300px;" type="text">
                <br><br>

                <label for="description">Description</label><br>
                <textarea cols="80" id="description" name="description" placeholder="Description" required
                          rows="10"></textarea>
                <br><br>

                <input id="collection-button" type="submit" value="Submit">
                <input id="cancel-button" type="button" value="Cancel">

            </form>

        </div>

    </div>

</div>

<script src="/collections.js"></script>

</body>

</html>
