<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>API Blitz</title>
        <link rel="stylesheet" href="/monitor.css">
        <link rel="favicon" href="/favicon.ico">
        <script src='https://cdn.plot.ly/plotly-2.31.1.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>

        <header>

            <div class="nav">
                <a href="/APITest.html">
                    <img id="logo" src="/logo.png" alt="Logo">
                </a>

                <h1>API Blitz</h1>

                <a href="/api/1.0/user/signUpIn">
                    <img id="user" src="/user.png" alt="user">
                </a>
            </div>

        </header>

        <div class="content-wrapper">

            <div class="sidebar">

                <br>
                <a href="/APITest.html" class="sidebar-link">
                    <img id="test" src="/test.png" alt="test">
                    <p>API Test</p>
                </a>

                <br>
                <a href="/history" class="sidebar-link">
                    <img id="history" src="/history.png" alt="test">
                    <p>History</p>
                </a>

<!--                <br>-->
<!--                <a href="/api/1.0/testCase" class="sidebar-link">-->
<!--                    <img id="auto-test" src="/auto-test.png" alt="test">-->
<!--                    <p>Automated Testing</p>-->
<!--                </a>-->

                <br>
                <a href="/api/1.0/testCase/myTestCase" class="sidebar-link">
                    <img id="my-test-case" src="/myTestCase.png" alt="test">
                    <p>My Test Case</p>
                </a>

                <br>
<!--                <a href="/api/1.0/autoTest/monitor" class="sidebar-link">-->
                <a href="#" class="sidebar-link" onclick="openSidebar()">
                    <img id="monitor" src="/monitor.png" alt="test">
                    <p>Monitor</p>
                </a>

                <br>
                <a href="/api/1.0/collections" class="sidebar-link">
                    <img id="collections" src="/collections.png" alt="test">
                    <p>Collections</p>
                </a>

            </div>

            <div id="container">

                <div id="smallSidebar" class="sidenav">

                    <a href="#" class="closeBtn" onclick="closeSidebar()">&times;</a>

                    <a href="#" id="monitor-myTestCase" class="myTestCase-container" onclick="toggleTriangle(this)">
                        <span class="triangle"></span>
                        <p>My Test Case</p>
                    </a>
                    <div id="test-case-list" style="display: none"></div>

                    <a href="#" id="monitor-collections" class="collections-container" onclick="toggleTriangle(this)">
                        <span class="triangle"></span>
                        <p>Collections</p>
                    </a>
                    <div id="collections-list" style="display: none"></div>

                </div>

                <div id="result-container">

                    <div class="tab-container">
                        <button id="show-testCase-details" class="tablinks" onclick="displayDetails()" style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">Test case details</button>
                        <button id="show-testCase-result" class="tablinks" onclick="displayResult()" style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">Test result</button>
                    </div>

                    <div id="charts-data-container">

                        <div id="charts-container">
                            <canvas id="doughnut"></canvas>
                        </div>

                        <div id="testCaseData"></div>

                        <div id="test-result-container">

                            <div id='test-result-dashboard' style="display: none"></div>

                            <div id="test-result" style="display: none"></div>

                        </div>

                    </div>

                    <div id="collections-container">

                        <div id="select"></div>
                        <div id="outline"></div>

                        <div id="api-testResult-container">

                            <div id="api-testResult" style="display: none"></div>

                            <div id="response-container" style="display: none">

                                <div class="tab-container">
                                    <button id="show-response-body" class="tablinks" onclick="displayResponse()" style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">Body</button>
                                    <button id="show-response-header" class="tablinks" onclick="displayHeaders()" style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">Headers</button>
                                </div>

                                <div id="api-testResultDetails"></div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <script src="/monitor.js"></script>

    </body>
</html>
