<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>API Blitz</title>
    <link href="/report.css" rel="stylesheet">
    <link href="/favicon.ico" rel="favicon">
    <script src='https://cdn.plot.ly/plotly-2.31.1.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<header>

    <div class="nav">
        <a href="/APITest">
            <img alt="Logo" id="logo" src="/logo.png">
        </a>

        <h1>API Blitz</h1>

        <a href="/signUpIn">
            <img alt="user" id="user" src="/user.png">
        </a>
    </div>

</header>

<div class="content-wrapper">

    <div class="sidebar">

        <br>
        <a class="sidebar-link" href="/APITest">
            <img alt="test" id="test" src="/test.png">
            <p>API Test</p>
        </a>

        <br>
        <a class="sidebar-link" href="/history">
            <img alt="test" id="history" src="/history.png">
            <p>History</p>
        </a>

        <br>
        <a class="sidebar-link" href="/collections">
            <img alt="test" id="collections" src="/collections.png">
            <p>Collections</p>
        </a>

        <br>
        <a class="sidebar-link" href="/monitor">
            <img alt="test" id="my-test-case" src="/monitor.png">
            <p>Monitor</p>
        </a>

        <br>
        <a class="sidebar-link" href="/report" onclick="openSidebar()">
            <img alt="test" id="monitor" src="/report.png">
            <p>Report</p>
        </a>

    </div>

    <div id="container">

        <div class="sidenav" id="smallSidebar">

            <a class="closeBtn" href="#" onclick="closeSidebar()">&times;</a>

            <a class="myTestCase-container" href="#" id="monitor-myTestCase" onclick="toggleTriangle(this)">
                <span class="triangle"></span>
                <p>My Test Case</p>
            </a>
            <div id="test-case-list" style="display: none"></div>

            <a class="collections-container" href="#" id="monitor-collections" onclick="toggleTriangle(this)">
                <span class="triangle"></span>
                <p>Collections</p>
            </a>
            <div id="collections-list" style="display: none"></div>

        </div>

        <div id="result-container">

            <div class="tab-container">
                <button class="tablinks" id="show-testCase-details" onclick="displayDetails()"
                        style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">Test
                    case details
                </button>
                <button class="tablinks" id="show-testCase-result" onclick="displayResult()"
                        style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">Test
                    result
                </button>
            </div>

            <div id="charts-data-container">

                <div id="charts-container">
                    <canvas id="doughnut"></canvas>
                </div>

                <div id="testCaseData"></div>

                <div id="test-result-container">

                    <div id='test-result-dashboard' style="display: none"></div>

                    <div id="test-result" style="display: none"></div>

                </div>

            </div>

            <div id="collections-container">

                <div id="select"></div>
                <div id="outline" style="display: none"></div>

                <div id="api-testResult-container">

                    <div id="api-testResult" style="display: none"></div>

                    <div id="response-container">

                        <div class="tab-container">
                            <button class="tablinks" id="show-response-body" onclick="displayResponse()"
                                    style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">
                                Body
                            </button>
                            <button class="tablinks" id="show-response-header" onclick="displayHeaders()"
                                    style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">
                                Headers
                            </button>
                            <button class="tablinks" id="show-retest-result" onclick="displayRetestResult()"
                                    style="font-size: 16pt; font-weight: bold; font-family: 'Baloo Chettan 2'; display: none">
                                Retest Result
                            </button>
                        </div>

                        <div id="api-testResultDetails"></div>

                        <div class="overlay" id="overlay" style="display: none"></div>

                        <div class="popup" id="retestResult" style="display: none"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="/report.js"></script>

</body>
</html>
